* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: lightgray;
	color: black;
	accent-color: black;
	font-family: Verdana, sans-serif;

	--toolbar-width: 280px;
	--header-height: 50px;
	--control-height: 30px;
	--toolbar-padding: 10px;
	--content-padding: 10px;
	--control-margin: 10px;
}

html {
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 400px;
	min-height: 400px;
}

#header {
	position: absolute;
	width: 100%;
	height: var(--header-height);
	line-height: var(--header-height);
	padding-left: 10px;
	font-size: 30px;
	border-bottom: solid 1px black;
}

#toolbar {
	position: absolute;
	width: var(--toolbar-width);
	height: calc(100% - var(--header-height));
	right: 0;
	top: var(--header-height);
	padding: var(--toolbar-padding);
	background: lightgray;
	border-left: solid 1px black;
}

#toolbar * {
	position: relative;
	border: solid 1px black;
	margin-bottom: var(--control-margin);
}

#toolbar .separator {
	border: none;
	border-top: solid 1px black;
	width: var(--toolbar-width);
	height: 1px;
	margin-left: calc(0px - var(--control-margin));
	margin-right: calc(0px - var(--control-margin));
}

#toolbar > * {
	width: calc(var(--toolbar-width) - 2 * var(--toolbar-padding));
}

#toolbar #input-container {
	display: grid;
	grid-template-columns: 160px 100px;
	border: none;
	margin: 0;
}

#toolbar #input-container * {
	height: var(--control-height);
	padding-right: 5px;
	margin-bottom: var(--control-margin);
}

#toolbar #input-container label {
	padding-left: 5px;
	display: flex;
	align-items: center;
	border: none;
}

#toolbar #input-container input[type="checkbox"] {
	filter: brightness(82%);
}

#toolbar #input-container input[type="number"] {
	padding-left: 5px;
}

#toolbar textarea {
	height: 200px;
	min-height: 100px;
	max-height: 500px;
	padding: 5px;
	resize: vertical;
}

#toolbar button {
	height: calc(var(--control-height) * 1.1);
}

#toolbar button:hover {
	background: darkgray;
}

#toolbar button:active {
	background: dimgray;
}

#content {
	position: absolute;
	width: calc(100% - var(--toolbar-width));
	height: calc(100% - var(--header-height));
	top: var(--header-height);
	padding: var(--content-padding);
	background: lightgray;
}

#content * {
	position: absolute;
	padding: var(--content-padding);
	border: solid 1px black;
}

#content svg {
	padding: 10px;
	width: calc(100% - 2 * var(--content-padding));
	max-height: calc(100% - 2 * var(--content-padding));
	aspect-ratio: 1 / 1;
}

text {
	user-select: none;
}
